@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@400;500;600;700;800&display=swap');

:root {
    --yellow: #FFC11E;
    --green: #41B619;
    --bg: #F0F4EF;
    --green-dark: #204F10;
    --violet: #9D8BFF;
    --dark: #343C44;
}

/*
TABLE OF CONTENTS:

1) default
2) multiple usage templates
3) layouts
4) header
5) main -> main video_section -> video_section video_info 
6) slider
7) advantages
8) sizes
9) banner
10) information
11) form
12) footer
13) popup
*/


/*default*/
* {
    box-sizing: border-box;
    border: 0; 
}

html, body {
    padding: 0;
    margin: 0;
    background-color: var(--bg);
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

.wrapper#blur.active {
    position: relative;
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
    transition: 0.1s;
}
  
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.fa {
    margin-left: 1vw;
}

/*multiple usage templates*/
.features p,
.form_info a p,
.form form input[type=submit]
{
    font-size: calc(9px + (100vw - 600px)/100);
    line-height: calc(16px + (100vw - 600px)/100);
}

footer .contacts h1, 
.card_info h3,
.advantage .group h3
{
    font-size: calc(11px + (100vw - 600px)/100);
    line-height: calc(18px + (100vw - 600px)/100);
}

.video_section h2, 
.advantages h2,
.size h2,
.information_info h2
{
    font-size: calc(23px + (100vw - 600px)/100);
    line-height: calc(35px + (100vw - 600px)/100);
}

.menu a,
.features p,
.video_info section p,
.card_info h3,
.card_info p,
.advantages h2,
.advantage .group h3,
.banner_info > p,
.form_info h1
{
    color: #000000;    
}

/*layouts*/
.auto-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inter-regular {
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
    text-align: left;
}

.text-regular {
    font-family: Manrope;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}

.text-bold {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
}

.text-medium {
    font-family: Manrope;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
}

.text-extrabold {
    font-family: Manrope;
    font-size: 64px;
    font-weight: 800;
    letter-spacing: 0em;
    text-align: left;
}

.green-button {
    background: #41B619;
    border-radius: 100px 10px;
    padding: 0 25px;
    color: #FFFFFF;
    font-size: calc(9px + (100vw - 600px)/100)!important;
    line-height: 1vw;
}

.white-button {
    border: 1px solid #A1A1A1;
    border-radius: 100px 10px;
    padding: 0 25px;
    line-height: 1vw;
}

time {
    color: var(--green-dark);
    font-size: calc(5px + (100vw - 600px)/100);
    line-height: calc(8px + (100vw - 600px)/100);
}

.bg-green {
    background-color: #E4F2DF;
}

.overlay {
    position: relative;
    width: 100%;
}

/*header*/
header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

header .container {
    padding: 1vw 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
}

header.sticky {
    width: 90vw;
    padding: 0 1vw;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 25px 25px;
    z-index: 9999;
    animation: appear ease 0.3s;
}

header.sticky .container {
    padding: 0.5vw 0;
}

@keyframes appear {
    from {
        opacity: 0;
        top: -20vh;
    }

    to {
        opacity: 1;
        top: 0;
    }
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;
    margin: 0 5vw;
    font-size: calc(9px + (100vw - 600px)/100);
}

.menu a:hover {
    color: var(--yellow);
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/*main*/
.hero {
    position: relative;
    margin-top: 8vw;
}

.hero::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -7vw;
    height: 17vw;
    width: 12vw;
    background-size: cover;
    background-image: url(../img/image\ 18.png);
}

.hero .container {
    width: 80vw;
    margin-bottom: 7vw;
}

.hero h1 {
    line-height: 87px;
    color: var(--dark);
}

.hero .text > p,
.video_section .container > p 
{
    color: var(--dark);
    font-size: calc(15px + (100vw - 600px)/100);
    line-height: 33px;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.info .hero-img{
    margin-right: -10vw;
}

.info-nav {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: start;
    flex-grow: 1;
    gap: 3.5vw;
}

.info-nav p {
    font-size: calc(9px + (100vw - 600px)/100);
}

.features span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

.text {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 32vw;
}

/*main video_section*/
.video_section {
    flex-flow: column!important;
}

.video_section .container {
    padding-bottom: 2vw;
    width: 80vw;
}

.video_section .container > p {
    margin: 0;
}

.video_section .overlay::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 20vw;
    width: 15vw;
    background-size: cover;
    background-image: url(../img/leaf.png);
}

.video_section .overlay::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 18vw;
    height: 22vw;
    width: 17vw;
    transform: rotateY(180deg);
    background-size: cover;
    background-image: url(../img/leaf.png);
}

.video_section h1 {
    margin: 0;
    line-height: calc(48px + (100vw - 600px)/100);
    font-size: calc(33px + (100vw - 600px)/100);
}

.video_section h3 {
    font-size: calc(15px + (100vw - 600px)/100);
    line-height: calc(24px + (100vw - 600px)/100);
}

.video_section_hero {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 2.5vw;
    margin-bottom: 2.5vw;
}

.video_frame {
    position: relative;
}

.badge-yellow {
    position: absolute;
    top: 1.5vw;
    left: 1.5vw;
    color: var(--dark);
    font-size: calc(3px + (100vw - 600px)/100);
    line-height: 2vw;
    height: 2vw;
    padding: 0 1vw;
    background: #FFC11E;
    border-radius: 100px;
}

.badge-yellow p,
.badge-green p
{
    margin: 0;
}

/*video_section video_info*/
.video_info {
    height: 26.5vw;
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: space-between;
}

.video_info h2 {
    margin-top: 0;
}

.video_info section p {
    font-size: calc(7px + (100vw - 600px)/100);
    line-height: calc(13px + (100vw - 600px)/100);
}

/*slider*/
.slider_container {
    display: flex;
    flex-flow: row;
    margin-bottom: 4vw;
}

.card {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.swiper-slide {
    flex-shrink: initial!important;
}

.card:hover h3 {
    color: var(--green-dark);
}

.card:hover .thumbnail img {
    filter: brightness(70%)
}

.card:hover .thumbnail::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 3vw;
    height: 3vw;
    background-image: url(../img/play-button-o.png);
    background-size: cover;
    z-index: 999;
}

.thumbnail {
    position: relative;
    border-radius: 10px;
    background-color: #D9D9D9;
    height: 13vw;
}

.card_info {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: start;
    width: 17.5vw;
    height: 13vw;
}

.card_info h3 {
    margin: 0;
}

.card_info p {
    font-size: calc(5px + (100vw - 600px)/100);
    line-height: calc(8px + (100vw - 600px)/100);
}

.card_info time {
    flex-grow: 1;
    display: flex;
    align-items: end;
    padding: 1vw 0;
}

.swipers {
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: end;
    margin-right: 0.8vw;
    gap: 10vw;
}

.swiper-button-next::after,
.swiper-button-prev::after
{
    height: 1vw!important;
    color: transparent;
} 

.swiper-button-next, .swiper-button-prev {
    position: relative!important;
}

/*advantages*/
.advantages {
    flex-flow: column;
    margin-bottom: 7vw;
    gap: 2vw;
}

.advantages .container {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.advantage {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 2vw;
    padding: 1vw 2vw;
    height: 14vw;
    width: 38.5vw;
    background: #FFFFFF;
    border-radius: 15px;
}

.advantage span {
    color: #FFC11E;
    font-size: calc(55px + (100vw - 600px)/100);
    line-height: calc(78px + (100vw - 600px)/100);
}

.advantage .group p {
    color: #000000;
    font-size: calc(7px + (100vw - 600px)/100);
    line-height: calc(13px + (100vw - 600px)/100);
}

/*sizes*/
.sizes {
    padding: 4vw 0;
    width: 100%;
    background-color: #C9E6BF;
}

.sizes .container {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
}

.size {
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: space-between;
    height: 27vw;
}

.size h2 {
    color: #000000;
    margin-bottom: 0;
}

.size span {
    display: flex;
    align-items: end;
    flex-grow: 1;
}

.size_list {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-grow: 0;
    gap: 3vw;
    font-size: calc(13px + (100vw - 600px)/100);
    line-height: calc(21px + (100vw - 600px)/100);
    color: #000000;
}

.list p {
    margin: 1vw 0;
}

.vector {
    position: relative;
}

.sizes .vector::after {
    content: " ";
    display: block;
    position: absolute;
    top: 2vw;
    width: 25vw;
    height: 18vw;
    background-image: url(../img/image\ 14.png);
    background-size: cover;
}

/*banner*/
.banner {
    margin: 7vw 0;
}

.banner .container {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    height: 30vw;
    width: 80vw;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    overflow: hidden;
}

.banner_info h1 {
    font-size: calc(33px + (100vw - 600px)/100);
    line-height: calc(48px + (100vw - 600px)/100);
    margin-bottom: -4vw;
    color: #000000;
}

.banner_info > p {
    font-size: calc(15px + (100vw - 600px)/100);
    line-height: calc(24px + (100vw - 600px)/100);
}

.banner_info {
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: space-around;
    height: 100%;
}

.banner_info button {
    justify-self: end;
}

/*information*/
.information {
    margin-bottom: 7vw;
}

.information .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
}

.information .container > img {
    filter: drop-shadow(-1vw 0px 0px #41B619);
}

.information_info {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 23vw;
}

.information_info h2 {
    color: #000000;
    margin-bottom: -1vw;
}

.information_info > p {
    font-size: calc(15px + (100vw - 600px)/100);
    line-height: calc(24px + (100vw - 600px)/100);
}

.information_info .features {
    display: flex;
    gap: 1vw;
}

.information_info .features span {
    color: var(--dark)!important;
    gap: 0.5vw;
}

.badge-green {
    font-size: calc(3px + (100vw - 600px)/100);
    line-height: 2vw;
    height: 2vw;
    padding: 0 2vw;
    color: #FFFFFF;
    background: #41B619;
    border-radius: 100px;
}
/*form*/
.form {
    background-color: #C9E6BF;;
}

.form .container {
    display: flex;
    align-items: center;
    flex-flow: row;
    justify-content: space-between;
    width: 80vw;
    padding: 4vw 0;
}

.form .container img {
    margin-right: -10vw;
}

.form_info h1 {
    font-size: calc(55px + (100vw - 600px)/100);
    line-height: calc(78px + (100vw - 600px)/100);
    margin: 0;
} 

.form_info a > h1 {
    font-size: calc(39px + (100vw - 600px)/100);
    line-height: calc(57px + (100vw - 600px)/100);
}

.form_info p {
    margin-top: 0;
}

.form_info a p {
    color: var(--green-dark);
    text-decoration: underline;
}

.form_info p,
.form form input
{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: calc(15px + (100vw - 600px)/100);
    line-height: calc(24px + (100vw - 600px)/100);
}

.form form {
    position: relative;
    margin-top: 4vw;
    margin-bottom: 4vw;
}

.form form input {
    color: var(--dark);
    padding: 0 8vw 0 2vw;
    height: 4vw;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    outline: 0;
}

.form form input[type=tel] {
    letter-spacing: 0.1vw;
}

.form form input[type=submit] {
    cursor: pointer;
    color: #FFFFFF;
    position: absolute;
    left: 26vw;
    border-radius: 15px;
    padding: 0 2.5vw;
    background-color: var(--green);
}

/* footer */
footer {
    padding: 4vw 0;
    width: 100%;
    background-color: #2E2E2E;
}

footer .container {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
}

footer .logo p {
    margin: 0 0 0 0.5vw;
    font-size: calc(5px + (100vw - 600px)/100);
    line-height: 140%;
    color: #4F4C53;
}

footer .contacts {
    display: flex;
    flex-flow: column;
    align-items: end;
}

footer .contacts a {
    color: #FFFFFF;
}

footer .contacts .fab {
    font-size: 20px;
    margin-left: 1vw;
}

footer .socials a:first-child {
    color: var(--green);
}

/*popup*/
#popup {
    display: flex;
    flex-flow: row;
    justify-content: start;
    align-items: center;
    gap: 2vw;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 60vw;
    height: 20vw;
    padding-left: 2vw;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    z-index: 999;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

#popup.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
}

#popup::after {
    content: "";
    display: block;
    position: absolute;
    height: 8vw;
    width: 8vw;
    right: -2vw;
    bottom: -2vw;
    background-image: url(../img/figure-rotated.png);
    background-size: cover;
}

#popup .vector {
    position: relative;
}

#popup .vector::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    height: 17vw;
    width: 17vw;
    background-image: url(../img/contact_us.png);
    background-size: cover;
}

#popup h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: calc(27px + (100vw - 600px)/100);
    line-height: calc(35px + (100vw - 600px)/100);
    color: var(dark);
}

#popup h2 span {
    color: var(--green-dark);
}

#popup .close-icon {
    position: absolute;
    top: 2vw;
    right: 2vw;
}
